<app-header></app-header>
<div class="container">
    <div class="titulo-principal">
        <span>Hola, te pedimos algunos datos para crear una cuenta de marca</span>
    </div>
    <div class="seccion-form">
        <div class="titulo">
            <span>Información de la empresa</span>
        </div>
        <div class="row">
            <div class="data-form d-grid col">
                <span class="col-sm texto-base-label">Nombre Comercial</span>
                <span class="col-sm subtitulo-label">Nombre Comercial</span>
            </div>

            <div class="data-form d-grid col">
                <span class="col-sm texto-base-label">Teléfono de la empresa</span>
                <span class="col-sm subtitulo-label">Teléfono</span>
            </div>

            <div class="data-form d-grid col">
                <span class="col-sm texto-base-label">CSF </span>
                <span class="col-sm">
                    <button class="button-upload">Upload</button>
                </span>
            </div>
        </div>

        <div class="row">
            <div class="data-form d-grid col">
                <span class="col-sm texto-base-label">Identificación Oficial</span>
                <span class="col-sm">
                    <button class="button-upload">Upload</button>
                </span>
            </div>
        </div>

        <div class="titulo">
            <span class="titulo">Dirección</span>
        </div>

        <div class="row">
            <div class="data-form d-grid col">
                <span class="col-sm texto-base-label">Calle</span>
                <span class="col-sm subtitulo-label">Calle </span>
            </div>

            <div class="data-form d-grid col">
                <span class="col-sm texto-base-label">Número exterior</span>
                <span class="col-sm subtitulo-label">Número exterior </span>
            </div>
        </div>

        <div class="row">
            <div class="data-form d-grid col">
                <span class="col-sm texto-base-label">Número interior</span>
                <span class="col-sm subtitulo-label">Número interior </span>
            </div>
            <div class="data-form d-grid col">
                <span class="col-sm texto-base-label">Colonia</span>
                <span class="col-sm subtitulo-label">Colonia </span>
            </div>
        </div>

        <div class="row">
            <div class="data-form d-grid col">
                <span class="col-sm texto-base-label">Código Póstal</span>
                <span class="col-sm subtitulo-label">CP </span>
            </div>
        </div>


        <div class="disclaimers mt-5">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <span>Acepto los Términos y condiciones y autorizo el uso de mis datos de acuerdo a la Declaración de
                    Privacidad.</span>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
                <span>Acepto recibir información por correo</span>
            </div>

            <div class="boton-disclaimers">
                <button>Crear</button>
            </div>
        </div>
    </div>
</div>