<div class="max-w-6xl mx-auto bg-white p-6 mt-6 rounded-md shadow-md">
  <h2 class="text-xl font-semibold mb-4">Carrito de compra</h2>

  <div *ngFor="let producto of productos; let i = index" class="border-b py-4 flex justify-between items-center">
    <div class="flex items-center space-x-4">
      <p class="font-semibold">{{ producto.nombre }}</p>
    </div>
    <div class="flex items-center space-x-2">
      <button (click)="disminuirCantidad(i)" class="px-2 py-1 bg-gray-300 rounded">-</button>
      <input type="text" [(ngModel)]="producto.cantidad" class="w-10 text-center border">
      <button (click)="aumentarCantidad(i)" class="px-2 py-1 bg-gray-300 rounded">+</button>
    </div>
    <p class="text-lg font-bold">${{ producto.precio * producto.cantidad | number:'1.2-2' }} MXN</p>
  </div>

  <!-- Total -->
  <div class="flex justify-between mt-4">
    <div></div>
    <div>
      <p>Subtotal: <span class="font-bold">${{ subtotal | number:'1.2-2' }} MXN</span></p>
      <p>Envío: <span class="font-bold">${{ 250 | number:'1.2-2' }} MXN</span></p>
      <p class="text-lg font-bold">Total: ${{ total | number:'1.2-2' }} MXN</p>
      <button class="bg-black text-white px-6 py-2 mt-2 rounded">Pagar</button>
    </div>
  </div>
</div>





