<div class="container-form">
    <div class="titulo-seccion">
        <span>Contacto</span>
    </div>

    <div class="input-form" style="padding: 0px 12px;">
        <input type="email" class="form-control" id="correo-electronico" aria-describedby="correo-electronico"
            placeholder="Correo electrónico">
    </div>

    <div class="input-form" style="padding: 0px 12px;">
        <input type="phone" class="form-control" id="telefono" aria-describedby="telefono" placeholder="Teléfono">
    </div>

    <div class="titulo-seccion col d-flex">
        <span>Datos para entrega</span>
    </div>

    <div class="input-form row">
        <div class="col">
            <input type="text" class="form-control" id="nombre" aria-describedby="nombre" placeholder="Nombre">
        </div>

        <div class="col">
            <input type="text" class="form-control" id="apellidos" aria-describedby="apellidos" placeholder="Apellidos">
        </div>
    </div>

    <div class="input-form row">
        <div class="col">
            <input type="text" class="form-control" id="calle" aria-describedby="calle" placeholder="Calle">
        </div>

        <div class="col">
            <input type="number" class="form-control" id="numero-exterior" aria-describedby="numero-exterior"
                placeholder="Número exterior">
        </div>

        <div class="col">
            <input type="number" class="form-control" id="numero-interior" aria-describedby="numero-interior"
                placeholder="Número interior">
        </div>
    </div>

    <div class="input-form row">
        <div class="col">
            <input type="text" class="form-control" id="colonia" aria-describedby="colonia" placeholder="Colonia">
        </div>

        <div class="col">
            <input type="number" class="form-control" id="codigo-postal" aria-describedby="codigo-postal"
                placeholder="Código postal">
        </div>

        <div class="col">
            <input type="number" class="form-control" id="ciudad" aria-describedby="ciudad" placeholder="Ciudad">
        </div>
    </div>

    <div class="input-form row">
        <div class="col-4">
            <select class="form-select" aria-label="Selecciona estado">
                <option selected>Selecciona estado</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
    </div>
</div>