<div class="container-footer w-100">
    <div class="version-pc">
        <div class="seccion-info d-flex">
            <div class="seccion-logo">
                <div class="d-flex justify-content-end align-items-end">
                    <img src="assets/imagenes/logo.svg" alt="img-logo">
                </div>
            </div>
            <div class="row seccion-enlaces">
                <div class="col-sm-4 col-lg subseccion-conoce">
                    <p class="titulo-subseccion">Conoce más</p>
                    <p class="subtitulo-subseccion">Nuestra Visión</p>
                    <p class="subtitulo-subseccion">Cómo vender</p>
                    <p class="subtitulo-subseccion">Cómo comprar</p>
                </div>
                <div class="col-sm-4 col-lg subseccion-seguridad">
                    <p class="titulo-subseccion">Seguridad en</p>
                    <p class="subtitulo-subseccion">Envíos</p>
                    <p class="subtitulo-subseccion">Formas de pago</p>
                    <p class="subtitulo-subseccion">Garantías y Devoluciones</p>
                </div>
                <div class="col-sm-4 col-lg subseccion-contactanos">
                    <p class="titulo-subseccion">Contactanos</p>
                    <p class="subtitulo-subseccion mb-2-custom">Teléfono: 123-456-7890</p>
                    <p class="subtitulo-subseccion">Correo: mail.com</p>
                </div>
                <div class="col-sm-4 col-lg subseccion-privacidad">
                    <p class="titulo-subseccion">Privacidad</p>
                    <p class="subtitulo-subseccion">Aviso de privacidad</p>
                    <p class="subtitulo-subseccion">Términos y Condiciones</p>
                </div>
            </div>
            <div class="seccion-redes-sociales">
                <div class="row">
                    <p class="titulo-subseccion">Social</p>
                    <img src="assets/imagenes/footer/redes-sociales.svg" alt="img-redes-sociales">
                </div>
            </div>
        </div>
        <div class="seccion-copyright">
            <div class="w-75 text-center mx-auto h-100">
                <span>Copyright 2023 , All Rights Reserved</span>
            </div>
        </div>
    </div>

    <div class="version-mobile d-flex justify-content-around py-3">
        <div class="item d-grid">
            <img class="mx-auto" src="assets/imagenes/footer/mobile/inicio.svg" alt="img-inicio">
            <span>Inicio</span>
        </div>
        <div class="item d-grid">
            <img class="mx-auto" src="assets/imagenes/footer/mobile/tiendas.svg" alt="img-tiendas">
            <span>Tiendas</span>
        </div>
        <div class="item d-grid">
            <img class="mx-auto" src="assets/imagenes/footer/mobile/favoritos.svg" alt="img-favoritos">
            <span>Favoritos</span>
        </div>
        <div class="item d-grid">
            <img class="mx-auto" src="assets/imagenes/footer/mobile/perfil.svg" alt="img-perfil">
            <span>Perfil</span>
        </div>
    </div>
</div>