<div class="container-categorias">
    <div class="titulo">
        <span>Categorías</span>
    </div>
    <div class="contenido d-flex justify-content-between">
        @for (categoria of categorias; track $index) {
        <div class="row col-6 col-sm-6 col-md-2">
            <div class="recuadro-categoria">
                <div class="img">
                    <img class="w-75" src="{{categoria.srcImg}}" alt="img-{{categoria.tituloCategoria}}">
                </div>
                <div class="descripciones d-grid">
                    <span>{{categoria.tituloCategoria}}</span>
                    <span>Ver todo</span>
                </div>
            </div>
        </div>
        }
    </div>
</div>