nav {
  background-color: #ffcc00;
  padding: 16px;
}

.container {
  max-width: 1200px;
  margin: auto;
}

input {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
}

button {
  background-color: #ffcc00;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

button:hover {
  background-color: #ffb300;
}
